# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/tmp/Debug.x64.3DModelingTest/*.pdb
/tmp/Debug.x64.3DModeling/3DModeling.tlog/*.tlog
*.suo
*.ipch
*.tlog
*.idb
*.log
*.pdb
*.ilk
